node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
package-lock.json
yarn.lock
package.json
web-build/


package.json
package-lock.json
yarn.lock
# macOS
.DS_Store


